<div class="register">
<h3>Register A New User </h3>

<form action="/register" method="post">
  Username:<br>
  <input type="text" name="user[username]" placeholder="Username"><br><br>
  Email:<br>
  <input type="text" name="user[email]" placeholder="Email"><br><br>
  Password:<br>
  <input type="password" name="user[password]" placeholder="Password"><br><br>
  <input type="submit" value="Submit">
</form>
</div>
