<h2>Welcome to Twitter!</h2>



<h1><a href="/register">Register Here!</a></h1>

<form action="/login" method="post">
  Username:<br>
  <input type="text" name="username" placeholder="Username"><br>
  Password:<br>
  <input type="text" name="password" placeholder="Password"><br><br>
  <input type="submit" value="Submit">
</form>
